
/*
* -- COMMENT STYLES --
*/
.comment {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 0.25em 0.5em 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 0.5em;
    margin: 1em;
}

/* On mouse-over, add a deeper shadow */
.comment:hover {
    box-shadow: 0 0.25em 1em 0 rgba(0,0,0,0.2);
}

.comment-header {
  height: auto;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  text-align: center;
  color: white;
}

/* Add some padding inside the card container */
.comment-body {
    padding: 0.125em 2em;
    overflow-wrap: break-word;
}

.comment-footer {
  text-align: right;
}

a.reference {
  color: white;
  border-bottom: 0.02em dashed;
  font-weight: bold
}

.continue-thread {
  height: 1em;
  margin-right: 1em;
}

.continue-thread a {
  float: right;
}

/*On small screens, labels should be hidden, icons should be twice as big*/
.menu-label {
  visibility: hidden;
  font-size: 0;
}
.menu-icon {
  font-size: 2em
}

ul {
  list-style-type: none;
}

/*
* -- LARGE PHONES --
On screens that are not extra small
*/
@media (min-width: 36em) {
  .menu-label {
    visibility: visible;
    font-size: 100%;
  }
  .menu-icon {
    font-size: 1.3em
  }
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    .content {
        padding: 2em 3em 0;
    }

    .header {
        text-align: right;
    }

    .footer {
        text-align: center;
    }
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 64em) {
  /*If we have enough space to show them side-by-side, keep the main comment
  on the left in detail view*/
    .main-comment {
      position: sticky;
      top: 4em;
    }
}
